<mat-toolbar style="background-color: rgb(12, 12, 10);">
  <mat-toolbar-row class="nav-wrapper">
    <div
      style="display: flex; height: 100%; margin-top: 10px; margin-right: 10px; align-items: center;"
    >
      <img
        style="width: 40px;"
        src="@app/../assets/images/tilLogo2.png"
        alt=""
      />
    </div>

    <div style="flex: none;">
      <a mat-button routerLink="/">
        <span>Home</span>
      </a>
    </div>

    <div style="flex: none;">
      <a mat-button routerLink="/questions">
        <span>Ideas</span>
      </a>
    </div>

    <div style="flex: none;">
      <a mat-button routerLink="/groups">
        <span>Groups</span>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
